<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >
   <distributable/>
   <servlet>
      <servlet-name>MobileQuery</servlet-name>
      <display-name>MobileQuery</display-name>
      <description><![CDATA[Mobile application]]></description>
     <servlet-class>com.gint.app.bisismobile.MobileQueryServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>MobileQuery</servlet-name>
      <url-pattern>/MobileQuery</url-pattern>
   </servlet-mapping>
</web-app>
